//font montessarat
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
}
li
{
    list-style-type: none;
}
.upperNav
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #FFF100 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.73px 2px #00000080;
    opacity: 1;
}
.sidebarBtn
{
    position: absolute;
    top: 15px;
    left: 10%;
    width: auto;
    height: 18px;
}
.logo
{
    position: absolute;
    top: 9px;
    left: 14%;
    width: auto;
    height: 30px;
}
.logo-sidebar
{
    position: absolute;
    top: 9px;
    left: 14%;
    width: auto;
    height: 30px;
}
.navText
{
    position: relative;
    top: 0px;
    left: 22%;
    width: 440px;
    height: 26px;
    text-align: center;
    letter-spacing: 0px;
    font-size: 14px;
    color: #000000;
    opacity: 1;
}
.shopNow
{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 900;
}
.right-arrow
{
    position: absolute;
    top: 4px;
    left: 99%;
    width: auto;
    height: 12px;
}
.left-arrow
{
    position: absolute;
    top: 4px;
    left: 0%;
    width: auto;
    height: 12px;
}
.contactUs
{
    position: absolute;
    top: 15px;
    left: 60%;
    width: auto;
    height: 25px;
}
.contactUs span
{
    position: relative;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 900;
    opacity: 1;
    margin-left: 10px;
    top: -2px;
}
.track
{
    position: absolute;
    top: 15px;
    left: 71%;
    width: auto;
    height: 25px;
}
.track span
{
    position: relative;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 900;
    opacity: 1;
    margin-left: 10px;
    top: -2px;
}
.location
{
    position: absolute;
    top: 15px;
    left: 82%;
    width: auto;
    height: 25px;
}
.location span
{
    position: relative;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 900;
    opacity: 1;
    margin-left: 10px;
    top: -2px;
}
.first_row
{
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 84px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.92px 3px #00000080;
    opacity: 1;
}
.input-container {
    display: flex;
}
.searchIcon
{
    position: relative;
    top: 30px;
    left: 11%;
    z-index: 9999;
}
.searchField
{
    position: absolute;
    top: 16px;
    left: 10%;
    width: 15%;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5004362463951111px solid #D8D8D8;
    border-radius: 24px;
    outline: none;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 12px;
    padding-left: 55px;
    font-weight: 900;
}
.adidasIcon
{
    position: absolute;
    top: 16px;
    left: 46%;
    width: 85px;
    height: 57px;
}
.menu-row2
{
    position: relative;
    top: -20px;
}
.cart
{
    position: absolute;
    top: 15px;
    left: 65%;
    width: auto;
    height: 25px;
}
.cart span
{
    position: relative;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 900;
    opacity: 1;
    margin-left: 10px;
    top: -2px;
}
.heart
{
    position: absolute;
    top: 15px;
    left: 74%;
    width: auto;
    height: 25px;
}
.heart span
{
    position: relative;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 900;
    opacity: 1;
    margin-left: 10px;
    top: -2px;
}
.user
{
    position: absolute;
    top: 15px;
    left: 84%;
    width: auto;
    height: 25px;
}
.user span
{
    position: relative;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 900;
    opacity: 1;
    margin-left: 10px;
    top: -2px;
}
@media only screen and (max-width: 395px) {
    .sidebarBtn
    {
        left: 15%;
    }
    .logo
    {
        left: 35%;
    }
    .navText
    {
        display: none;
    }
    .menu
    {
        display:none;
    }
    .searchField
    {
        padding-left: 50px;
        width: 25%;
    }
    .searchIcon
    {
        left: 13%;
    }
    .first_row
    {
        height: 160px;
    }
    .adidasIcon
    {
        left: 55%;
    }
    .menu-row2
    {
        position: relative;
        top: 50px;
    }
    .cart
    {
        left: 10%;
    }
    .heart
    {
        left: 33%;
    }
    .user
    {
        left: 65%;
    }
    .cart span
    {
        margin-left: 3px;
    }
    .heart span
    {
        margin-left: 3px;
    }
    .user span
    {
        margin-left: 3px;
    }
}
@media (min-width: 396px) and (max-width: 552px) {
    .sidebarBtn
    {
        left: 15%;
    }
    .logo
    {
        left: 38%;
    }
    .navText
    {
        display: none;
    }
    .menu
    {
        display:none;
    }
        .searchField
    {
        padding-left: 50px;
        width: 25%;
    }
    .searchIcon
    {
        left: 13%;
    }
    .first_row
    {
        height: 160px;
    }
    .adidasIcon
    {
        left: 65%;
    }
    .menu-row2
    {
        position: relative;
        top: 50px;
    }
    .cart
    {
        left: 10%;
    }
    .heart
    {
        left: 35%;
    }
    .user
    {
        left: 65%;
    }
}
@media (min-width: 553px) and (max-width: 767px) {
    .sidebarBtn
    {
        left: 10%;
    }
    .logo
    {
        left: 42%;
    }
    .navText
    {
        display: none;
    }
    .menu
    {
        display:none;
    }
    .searchField
    {
        padding-left: 50px;
        width: 25%;
    }
    .searchIcon
    {
        left: 13%;
    }
    .first_row
    {
        height: 160px;
    }
    .adidasIcon
    {
        left: 70%;
    }
    .menu-row2
    {
        position: relative;
        top: 50px;
    }
    .cart
    {
        left: 10%;
    }
    .heart
    {
        left: 38%;
    }
    .user
    {
        left: 70%;
    }
}
@media (min-width: 768px) and (max-width: 1268px) {
    .navText
    {
        display: none;
    }
    .menu
    {
        display:none;
    }
    .adidasIcon
    {
        left: 45%;
    }
    .cart
    {
        left: 60%;
    }
    .user
    {
        left: 73%;
    }
    .heart
    {
        left: 85%;
    }
}